<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job-Applicant-Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="/css/tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
  <header>
      <div class="container-fluid p-0">
      <%- include('../layouts/navcom.ejs'); %>
      </div>
      <br><br><br>
      <h1 class="text-dark p-4" style="text-align: center;">No- 1934</h1>
  </header>    
<br>
<div class="row mb-4">
    <div class="col mx-3">
        <table class="table" data-toggle="table" data-pagination="true" data-search="true">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th data-sortable="true">Name</th>
              <th data-sortable="true">Age</th>
              <th data-sortable="true">Graduate</th>
              <th scope="col">Experience</th>
              <th scope="col">More</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Daniel Mulyadi</td>
              <td>25</td>
              <td>S1 Universitas Tarumanagara</td>
              <td>6 Month</td>
              <td><a href="">Check</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Gion Andria</td>
                <td>23</td>
                <td>S1 Universitas Tarumanagara</td>
                <td>1 Year</td>
                <td><a href="">Check</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Valentino Erico</td>
                <td>26</td>
                <td>S1 Universitas Tarumanagara</td>
                <td>Fresh Gradute</td>
                <td><a href="">Check</a></td>
              </tr>

          </tbody>
      </table>
    </div>
</div>
</div>
</body>
</html>